body
{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    font-family: "Arial Hebrew", Arial, sans-serif;
    font-size: 16px;
}
header
{
    background: #097b85;
    margin-bottom: 0;
    color: white;
}
h1
{
    margin: 0;
    padding: 60px 20px 20px;
}
pre
{
    height: inherit;
    margin: 0;
    white-space: normal;
}
code
{
    height: inherit;
}
a
{
    color: #42b396
}
a:visited
{
    color: #337246;
}
#main-menu
{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    font-weight: bold;
}
#main-menu li
{
    padding: 10px;
    list-style: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
#main-menu li:hover,
#main-menu li.active
{
    border-bottom: 3px solid white;
}
#main-menu li a:is(:active,:link,:visited)
{
    color: white;
    text-decoration: none;
}
#container
{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
}
main
{
    width: 70%;
    padding: 30px;
    padding-bottom: 200px;
    flex-grow: 1;
    background: #eae8e8;
    box-sizing: border-box;
}
@media (max-width: 1024px)
{
    main
    {
        width: 100%;
    }
}
#container-footer
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
hai-input
{
    display: flex;
    flex-direction: column;
}
.example-article
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
.example-article h2
{
    grid-column: 1 / span 2;
}
.code-section
{
    background: #ffffff;
    overflow: hidden;
}
.code-section > div
{
    height: 100%;
}
.code-section header
{
    display: flex;
    background: #eae8e8;
}
.code-section header div
{
    background: #768186;
    padding: 10px;
    cursor: pointer;
}
.code-section header div.active,
.code-section header div:hover
{
    background: #097b85;
}
.language-html,
.language-js
{
    text-align: left;
    white-space: pre-wrap;
}
.input-section
{

}

[data-code-tab]
{
    display: none;
}
[data-code-tab].active
{
    display: block;
}
iframe
{
    width: 100%;
    border: none;
    background: white;
}
@media (max-width: 768px)
{
    .example-article
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0 40px;
    }
    .example-article h2
    {
        grid-column: 1;
    }
    .code-section
    {

        margin-top: 20px;
    }
}
input[type=submit]
{
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
    background: #097b85;
    margin: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
input[type=submit]:hover
{
    background: #339ca6;
}

.doc-tab
{
    padding: 15px;
}
.doc-tab > ul
{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0;
    padding: 0 10px 0 0;
    list-style: none;
    overflow: auto;
    scrollbar-width: thin;
}
@media (max-width: 1024px)
{
    .doc-tab > ul
    {
        max-height: 300px;
    }
}
.doc-table
{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
}
.doc-table td
{
    padding: 5px 10px;
    border: 1px solid;
}
.doc-table .name
{
    font-size: 20px;
    font-weight: bolder;
}
.doc-table dl
{
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-left: 10px;
    padding-top: 5px;
}
.doc-table dd
{
    margin-left: 10px;
}
.left-aligned
{
    text-align: left;
}
.doc-section-header
{
    padding: 5px 0;
    border-top: 5px double;
    border-bottom: 5px double;
    font-size: 24px;
}
#container .centered
{
    display: flex;
    justify-content: center;
}
.main-text-container
{
    max-width: 1000px;
    line-height: 1.7;
}
.main-text-container h3
{
    margin-top: 100px;
}
.github-link,
.github-link:visited
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    background: white;
    padding: 10px 15px;
    fill: black;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.types-table
{
    display: inline-flex;
    border: 1px solid;
}
.types-table > span
{
    padding: 5px 10px;
    border: 1px solid;
}
.two-images-example,
.two-codes-example
{
    display: flex;
    gap: 50px;
    width: 100%;
    padding: 10px 50px;
    box-sizing: border-box;
}
.two-images-example .image-example
{
    width: 100%;
}
.two-images-example img
{
    width: 100%;
    aspect-ratio: 4/2.5;
    border: 1px solid;
}
.two-codes-example pre
{
    width: 100%;
    font-size: 12px;
}
.one-code-example code
{
    text-align: center;
    font-size: 14px;
}
@media (max-width: 768px)
{
    .types-table
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: center;
        border: none;
    }
    .two-images-example,
    .two-codes-example
    {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark)
{
    header
    {
        background: #131313;
        color: #10b9b7;
    }
    iframe
    {
        background: #282b2e;
        color: #dfdfdf;
    }
    main
    {
        background: #161517;
        color: #dfdfdf;
    }
    #main-menu li:hover,
    #main-menu li.active
    {
        border-bottom: 3px solid #10b9b7;
    }
    #main-menu li a:is(:active, :link, :visited)
    {
        color: #10b9b7;
    }
    #container
    {
        background: #1e2022;
    }
    .code-section header
    {
        background: #161517;
        color: #dfdfdf;
    }
    [data-code-tab]
    {
        background: #282b2e;
    }
    .github-link,
    .github-link:visited
    {
        fill: white;
        border: 1px solid white;
        background: #131313;
        color: white;
    }
    .github-link:hover
    {
        background: black;
    }
}