:root
{
    --hai-input-mobile-threshold: 768px;
}
.hai-input-element
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
*
{
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
}

label
{
    display: block;
    text-align: left;
    font-family: "Arial Hebrew", Arial, sans-serif;
}
input
{
    display: block;
    border: 2px solid;
    width: 100%;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
}
input[hidden]
{
    display: none;
}
input:invalid
{
    color: #ff2f2f;
    border-color: #ff000096;
}
label .alert
{
    color: #ff2f2f;
    font-size: 14px;
    user-select: none;
}
.label-text
{
    text-align: left;
}

.input-wrapper
{
    border: 2px solid;
}
.input-wrapper input
{
    border: none;
    height: 100%;
}

.switch-wrapper
{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.switch-wrapper *
{
    padding: 0;
}
.switch-wrapper .option-group
{
    display: flex;
    position: relative;
    height: 100%;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
}
.switch-wrapper[data-variant='on/off'] .option-group
{
    height: auto;
    border: 2px solid blue;
    background: blue;
    transition: background 0.5s, border 0.5s;
}
.switch-wrapper[data-variant='on/off'][data-state='off'] .option-group
{
    border: 2px solid gray;
    background: gray;
}
.switch-wrapper .option-group .toggle
{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 20px;
    height: 20px;
    background: white;
    transition: left 0.5s;
}
.switch-wrapper[data-state='on'] .option-group .toggle
{
    left: calc(100% - 20px);
}
.switch-wrapper label.option
{
    display: flex;
    width: auto;
    height: 100%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.switch-wrapper label.option:hover
{
    background: gray;
    color: white;
}
.switch-wrapper[data-variant='on/off'] label.option
{
    background: transparent;
}
.switch-wrapper[data-variant='on/off'][data-state='off'] label.option
{
    background: transparent;
}
.switch-wrapper label.option.selected
{
    background: black;
    color: #ffffff;
}
.switch-wrapper[data-variant='on/off'] label.option
{
    display: inline-flex;
    width: 20px;
    height: 20px;
    padding: 0;
}
.switch-wrapper[data-variant='on/off'] label.option:hover
{
    font-weight: inherit;
}
.switch-wrapper input
{
    display: none;
}
.switch-wrapper label.option input:checked+span
{
    width: 100%;
}
.switch-wrapper[data-variant='on/off'] label.option input:checked+span
{
    height: 100%;
}

.select-wrapper
{
    position: relative;
}
.select-wrapper *
{
    margin: 0;
}
.select-wrapper .input-field
{
    display: flex;
    position: relative;
    background: #ffffff;
    border: 2px solid #000000;
    min-height: 40px;
    color: #000000;
    box-sizing: border-box;
    cursor: text;
}
.select-wrapper.dialog-display .input-field
{
    display: flex;
}
.select-wrapper .tags
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
}
.select-wrapper .tags li
{
    display: inline;
    background: #d5d5d5;
    list-style: none;
    font-size: 14px;
    cursor: default;
}
.select-wrapper .tags li .remove
{
    display: inline;
    border: none;
    border-left: 1px solid #000000;
    color: #000000a6;
    font-weight: bold;
    padding: 0 2px 0 5px;
    background: none;
    cursor: pointer;
}
.select-wrapper .tags li .remove:hover
{
    color: #000000;
}
.select-wrapper .dropdown
{
    display: none;
    position: absolute;
    width: calc(100% - 2*5px); /* Parent minus padding. */
    padding: 0;
    background: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    user-select: none;
}
.select-wrapper .dropdown.active
{
    display: block;
}
.select-wrapper.dialog-display .dropdown
{
    position: fixed;
    flex-direction: column;
    display: none;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 40vh;
    min-height: 400px;
    background: #313131;
    padding: 10px 0;
    z-index: 200;
    box-sizing: border-box;
}
@media only screen and (max-height: 360px)
{
    .select-wrapper.dialog-display .dropdown
    {
        min-height: auto;
        height: 90vh;
    }
}
.select-wrapper.dialog-display .dropdown.active
{
    display: flex;
}
.select-wrapper.dialog-display .dropdown > *
{
    margin: 0 10px;
}
.select-wrapper.dialog-display .dropdown .search-container
{
    padding: 5px 0 15px;
}
.select-wrapper .options-container
{
    padding: 0;
    max-height: 200px;
    overflow: auto;
    overscroll-behavior: contain;
}
.select-wrapper.dialog-display .options-container
{
    height: 100%;
    max-height: none;
}
.select-wrapper .control-buttons
{
    display: none;
}
.select-wrapper.dialog-display .control-buttons
{
    display: block;
    border-top: 1px solid;
    margin: 0;
}
.select-wrapper.dialog-display .control-buttons .button:hover
{
    background: #131313;
    cursor: pointer;
}
.select-wrapper .options-container .option,
.select-wrapper .options-container .option-group-header
{
    padding: 5px;
    list-style: none;
    text-align: left;
}
.select-wrapper .options-container .option-group-header
{
    position: sticky;
    top: 0;
    padding-top: 10px;
    background: #ffffff;
}
.select-wrapper .options-container .option-group-header ~ .option
{
    padding-left: 15px;
}
.select-wrapper.dialog-display .options-container .option
{
    padding: 10px;
    text-align: center;
}
.select-wrapper .options-container .option:hover
{
    background: #d5d5d5;
}
.select-wrapper .options-container .option.selected
{
    display: none;
}
.select-wrapper.dialog-display .options-container .option.selected,
.select-wrapper.single .options-container .option.selected
{
    display: block;
    position: relative;
}
.select-wrapper.dialog-display .options-container .option.selected::before
{
    content: '✓';
    position: absolute;
    display: inline;
    left: 20px;
    color: green;
    font-weight: bold;
    z-index: -1;
}
.select-wrapper .dropdown .info
{
    display: none;
}
.select-wrapper .dropdown .info.active
{
    display: block;
}


.file-zone-wrapper
{
    position: relative;
    min-height: 200px;
    margin: 5px;
    border: 2px solid #000000;
}
.file-zone-wrapper input
{
    display: none;
}
.file-zone-wrapper .message
{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: inherit;
    height: inherit;
    box-sizing: border-box;
}
.file-zone-wrapper .message.active
{
    display: flex;
}
.file-zone-wrapper .files
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(120px, 160px));
    gap: 20px;
    width: 100%;
    height: inherit;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.file-zone-wrapper .files .file
{
    position: relative;
    background: #c7c7c7;
}
.file-zone-wrapper .files .file .close
{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 0.9;
    cursor: pointer;
}
.file-zone-wrapper .files .file:hover .close
{
    display: block;
}
.file-zone-wrapper .files .file .close:hover
{
    color: #ff2f2f;
}
.file-zone-wrapper .files .file .file-preview
{
    margin: 0;
}
.file-zone-wrapper .files .file .file-preview img
{
    height: 50px;
}
.file-zone-wrapper .files .file .file-preview figcaption
{
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
}
.file-zone-wrapper .files .file .file-preview figcaption :is(.size,.name)
{
    padding-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.file-zone-wrapper .files .file .file-preview figcaption .size
{
    padding: 0 5px;
    color: #000000a6;
}



@media only screen and (prefers-color-scheme: dark)
{
    input
    {
        background: #313131;
        border: 2px solid #222121;
        color: #f2f2f2;
    }

    .input-wrapper
    {
        border: 2px solid #222121;
        background: #313131;
    }
    .input-wrapper input
    {
        border: none;
        height: 100%;
    }

    .switch-wrapper .option-group
    {
        border: 2px solid white;
        background: #313131;
    }
    .switch-wrapper label.option.selected
    {
        background: #f2f2f2;
        color: #313131;
    }

    .select-wrapper .input-field
    {
        background: #313131;
        border: 2px solid #222121;
        color: #f2f2f2;
    }
    .select-wrapper .tags li
    {
        background: #131313;
    }
    .select-wrapper .tags li .remove
    {
        border-left: 1px solid #f2f2f2;
        color: #f2f2f2a6;
    }
    .select-wrapper .tags li .remove:hover
    {
        color: #f2f2f2;
    }
    .select-wrapper .dropdown
    {
        background: #313131;
        border: 2px solid #222121;
        color: #f2f2f2;
    }
    .select-wrapper .options-container .option-group-header
    {
        background: #313131;
    }
    .select-wrapper .options-container .option:hover
    {
        background: #131313;
    }

    .file-zone-wrapper
    {
        border: 2px solid #f2f2f2;
    }
    .file-zone-wrapper .files .file
    {
        background: #535353;
    }
    .file-zone-wrapper .files .file .file-preview figcaption .size
    {
        color: #ffffffa6;
    }
}